{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		{% include 'base/head.html' %}
		<title>Diary PPW</title>
	</head>

    <body>
		{% include 'base/navbar_user.html' %}

		<div class="landing-page">
			<div class="container">
				<br><br>
				<button class="gantiTema navbar-brand">Change Theme</button>
				<div class="row form align-items-center"><br>
					<div class="col-md-12 col-sm-12 col-12 mr-auto">
						<h1 class="judul">
							<img src="https://i.ibb.co/7S6Ygd5/Pesawat-Kertas.png" alt="Pesawat-Kertas" width="100" height="80">
							{{page_title}}
						</h1>
						<br>
						
						<!-- Form field -->
						<form method="POST" class="form-font">
							{% csrf_token %}
							{{status_form.status_field}}
							<br>
							<button class="btn submit btn-light" type="Submit">Submit</button>
						</form>

					</div>
				</div>
			</div>
		</div>

		 <!-- Form response -->
		<div class="second-landing-page">
			<div class="container"><br>
				<table class="table table-borderless table-hover table-responsive-sm table-responsive-md">
					<thead>
						<tr class="thead">
							<th class="judul subjudul" scope="col">Your Status</th>
							<th scope="col"></th> <th scope="col"></th> <th scope="col"></th>
							<th scope="col"></th> <th scope="col"></th> <th scope="col"></th>
							<th scope="col"></th> <th scope="col"></th> <th scope="col"></th>
							<th scope="col"></th> <th scope="col"></th> <th scope="col"></th>
							<th scope="col"></th> <th scope="col"></th> <th scope="col"></th> 
							<th scope="col"></th> <th scope="col"></th>
							<th class="judul subjudul" scope="col">Time Submit</th>
						</tr>
					</thead>

					<tbody>
					{% for addStatus in status_response %}
						<tr>
							<td class="sentences">{{addStatus.status_field}}</td>
							<td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
							<td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
							<td></td> <td></td> <td></td>
							<td class="sentences">
								{% load tz %}
								{% timezone "Asia/Jakarta" %}
								{{addStatus.submitted|date:"l, d F Y | P" }}
								{% endtimezone %}
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>

		{% include 'base/copyRight.html' %}

	</body>
</html>