@font-face {
    font-family: pattaya;
    src: url('https://fonts.googleapis.com/css?family=Pattaya&display=swap');
}
@font-face {
    font-family: poppins regular;
    src: url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
}
.navbar{
    background-color: rgba(161, 73, 121, 1);
    min-height: 11vh;
}
.navbar-brand{
    font-family: poppins regular;
    font-size: 2.8vh;
    color : white;
}
.gantiTema{
    background-color: rgba(161, 73, 121, 1);
}
.gantiTema:hover{
    color: blue;
}
.landing-page{
    background-color: rgba(161, 73, 121, 1);
    min-height: 55vh;
}
.judul{
    font-family: pattaya;
    color: white;
    font-size: 11vh;
}
.subjudul{
    color: rgba(161, 73, 121, 1);
    font-size: 5vh;
}
.subjudul-page-4-1{
    font-family: poppins regular;
    font-size: 6vh;
    color: white;
}
.subjudul-page-4-2{
    font-family: poppins regular;
    font-size: 4vh;
    color: white;
}
.form{
    margin-top: 2.5vh;
    text-align: center;
}
.submit{
    font-family: poppins regular;
    font-size: 3vh;
    color: rgba(161, 73, 121, 1);
    background: white;
}
.second-landing-page{
    background-color: rgba(242, 234, 234, 1);
    width: 100%;
    height: 100%;
}
.sentences{
    font-family: poppins regular;
    font-size:3vh;
}
.sentences-auth{
    font-family: poppins regular;
    font-size:3.5vh;
    color: white;
}
.page-2{
    background-color: rgba(242, 234, 234, 1);
    width: 100%;
    height: 100%;
}
.sub-title{
    font-family: pattaya;
    color: white;
    font-size: 5vh;
    text-align: center;
    padding: 1vh;
}
.active{
    transform: translate(-5%,-10%) rotate(180deg);
	transition: all 0.1s ease-in;
}
.identity{
    font-family: pattaya;
    color: rgba(161, 73, 121, 1);
    font-size: 8vh;
    text-align: center;
}
.list{
    font-weight: bold;
    font-size : 3vh;
}
.accordion-head{
    background-color: rgba(161, 73, 121, 1);
    padding: 1vh;
    cursor: pointer;
    font-family: pattaya;
    color: white;
    font-size: 5vh;
    text-align: center;
    padding: 1vh;
}
.accordion-head:hover{
    background-color:rgba(160, 160, 209, 0.514);
}
.accordion-body{
    background-color: rgba(218, 213, 216, 0.349);
    padding: 2vh;
}
.display{
    display: none;
}
.landing-page-3{
    background-color: rgba(161, 73, 121, 1);
    min-height: 38vh;
}
.page-3{
    background-color: rgba(242, 234, 234, 1);
    width: 100%;
    height: 100%;
}
.judul-page-3{
    font-family: pattaya;
    color: white;
    font-size: 59px;
}
.judul-page-4{
    font-family: pattaya;
    color: white;
    font-size: 71px;
}
.landing-page-4{
    background-color: rgba(161, 73, 121, 1);
    min-height: 85vh;
}
.CR{
    margin-top: 2vh;
    color: white;
    text-align: center;
    font-size: 2.8vh;
    font-family: poppins regular;
}
.copy-right{
    background-color: rgba(161, 73, 121, 1);
    min-height: 8vh;
    margin-top: -2.5vh;
    margin-bottom: 0vh;
}
.tema2{
    background-color: rgba(53, 142, 116, 1);
}
.tema2-1{
    color:  rgba(53, 142, 116, 1);
}
.tema2-2{
    background-color:  rgba(235, 240, 239, 0.79);
}


