{% load static %}
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" 
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" 
            aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link navbar-brand" href="/">Status</a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navbar-brand" href="about-creator">About Creator</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navbar-brand" href="search-book">Search Book</a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link navbar-brand" href="welcome">Welcome {{user.first_name}}</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

        