{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
        {% include 'base/head.html' %}
        <title>Welcome</title>
    </head>
    
    <body>
        {% include 'base/navbar_user.html' %}

        <div class="landing-page-4">
                <div class="container">
                    <br><br>
                    <button class="gantiTema navbar-brand">Change Theme</button>
                    <div class="row form align-items-center"><br>
                        <div class="col-md-12 col-sm-12 col-12 mr-auto">
                            <br><br>
                            <h1 class="judul-page-4">Hello Welcome, {{user.get_full_name}}</h1><br>
                            <h1 class="subjudul-page-4-1">~ Enjoy Every Moment of Your Life ~</h1><br>
                            <h1 class="subjudul-page-4-2">Your Last Login At : {{request.session.login_timestamp}}</h1><br>
                            <a href="{% url 'logout' %}"><button class="btn submit btn-light" type="Submit">Logout</button></a> <br><br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>

        {% include 'base/copyRight.html' %}

	</body>
</html>