{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
        {% include 'base/head.html' %}
        <title>Login</title>
    </head>
    
    <body>
        {% include 'base/navbar.html' %}

        <div class="landing-page-4">
                <div class="container">
                    <br><br>
                    <button class="gantiTema navbar-brand">Change Theme</button>
                    <div class="row form align-items-center"><br>
                        <div class="col-md-12 col-sm-12 col-12 mr-auto">
                            <h1 class="judul-page-3">Login To Your Account</h1>
                            <br>
                            
                            <form method="POST" class="form-font align-items-left">
                                {% csrf_token %}

                                <div class="row form align-items-left">
                                    <label for="username" class="sentences-auth">Username</label>
                                    <input name="username" type="text" id="username" class="form-control" placeholder="Your Username"><br>
                                </div>

                                <div class="row form align-items-left">
                                    <label for="password" class="sentences-auth">Password</label>
                                    <input name="password" type="password" id="password" class="form-control" placeholder="Your Password"><br>
                                </div><br>
                            
                                <a href="{% url 'welcome' %}"><button class="btn submit btn-light" type="Submit">Login</button></a> <br><br>

                            </form>
                            <br>
                        </div>
                    </div>
                </div>
            </div>

        {% include 'base/copyRight.html' %}

	</body>
</html>