{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
        {% include 'base/head.html' %}
        <title>About Creator</title>
    </head>
    
    <body>
        {% include 'base/navbar.html' %}
        
        <div class="page-2">
            <div class="container">
                <br><br>
                <button class="gantiTema navbar-brand">Change Theme</button>
                <h1 class="identity">Hello, I'm Lia Yuliana</h1>
                <h1 class="identity">Computer Science Student at University of Indonesia</h1>
                <br>
                <hr class=line>
                <br><br>
                
                <!-- Accordion 1 -->
                <div class="accordion-head accordion-head1 sub-title">
                    Activities
                    <img class="arrow1" src="https://i.ibb.co/CBY4ykF/arrow.png" alt="arrow" height="35" width="35">
                </div>
                <div class="accordion-body display accordion-body1">
                    <p class="sentences">I am a 3rd semester student at Fasilkom UI.</p>
                    <p class="sentences">My daily activities are studying and taking care of organization.</p>
                </div>
                
                <!-- Accordion 2 -->
                <div class="accordion-head accordion-head2 sub-title">
                    Organizations
                    <img class="arrow2" src="https://i.ibb.co/CBY4ykF/arrow.png" alt="arrow" height="35" width="35">
                </div>
                <div class="accordion-body display accordion-body2">
                    <ul class="sentences">
                        <li><h5 class="list">FUKI Fasilkom UI 2019</h5></li>
                        <p >Staff of Qur'an Departement</p>
                        <li><h5 class="list">Computer Science Qur'anic Olympiad (CSQO) 2019</h5></li>
                        <p >Project Officer</p>
                        <li><h5 class="list">COMPFEST 11</h5></li>
                        <p >Staff of Software Engineering Academy</p>
                        <li><h5 class="list">Wisuda Ganjil Fasilkom UI 2018/2019</h5></li>
                        <p >Staff of Public Relations</p>
                        <li><h5 class="list">Rohis SMAN 13 Jakarta (Alumni Forum) 2019</h5></li>
                        <p >Staff of Public Relations, Media, and Secretariat</p>
                        <li><h5 class="list">(Coming Soon)</h5></li>
                    </ul>
                </div>
               
                <!-- Accordion 3 -->
                <div class="accordion-head accordion-head3 sub-title">
                    Achivements
                    <img class="arrow3" src="https://i.ibb.co/CBY4ykF/arrow.png" alt="arrow" height="35" width="35">
                </div>
                <div class="accordion-body display accordion-body3">
                    <ul class="sentences">
                        <li><h5 class="list">Cerdas Cermat Pentas PAI 2013</h5></li>
                        <p>1st place in North Jakarta Region</p>
                        <li><h5 class="list">Kompetisi IPA 2014</h5></li>
                        <p>4th runner up in North Jakarta Region</p>
                        <li><h5 class="list">OSN Biology 2014</h5></li>
                        <p>5th runner up in DKI Jakarta Region</p>
                        <li><h5 class="list">National Exam</h5></li>
                        <p >- Best Score at SMPN 231 Jakarta in 2015</p>
                        <p >- Best Score at SMAN 13 Jakarta in 2018</p>
                        <li><h5 class="list">(Coming Soon)</h5></li>
                    </ul>
                </div>
                <br>

            </div>
            <br><br>
        </div>
            
        {% include 'base/copyRight.html' %}

	</body>
</html>