{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
        {% include 'base/head.html' %}
        <title>Search Book</title>
    </head>
    
    <body>
        {% include 'base/navbar.html' %}

        <div class="landing-page-3">
            <div class="container">
                <br><br>
                <button class="gantiTema navbar-brand">Change Theme</button>
                <div class="row form align-items-center"><br>
					<div class="col-md-12 col-sm-12 col-12 mr-auto">
						<h1 class="judul-page-3">
							<img src="https://i.ibb.co/vYGWMkT/Search-Icon.png" alt="Search-Icon" width="90" height="80">
                            Find Your Favorite Book Here
						</h1>
                        <br>

                        <form id="book-form" method="POST" class="form-font">
							<input type="text" id="title-field" class="form-control" placeholder="Enter book title here"><br>
							<button class="btn submit btn-light" type="Submit">Search</button>
                        </form>
                        
                        <br>
                    </div>
                </div>

            </div>
        </div>

        <div class="page-3 display">
            <br><br>
            <div class="container">
                <table class='table table-hover table-responsive-sm table-responsive-md'>
                    <thead>
                        <tr class='thead'>
                            <th class='judul subjudul' scope='col'>Cover</th>
                            <th class='judul subjudul' scope='col'>Title</th>
                            <th class='judul subjudul' scope='col'>Authors</th>
                            <th class='judul subjudul' scope='col'>Published</th>
                        </tr>
                    </thead>
                    <tbody id="hasilPencarian"></tbody>
                </table>
                <br><br>
            </div>
        </div>



<script>
    $(document).ready(
        $('#book-form').submit(function (event) {
            event.preventDefault();
            const judulBuku = $('#title-field').val();

            $.ajax({
                method: 'GET',
                url: "https://www.googleapis.com/books/v1/volumes" + "?q=" + judulBuku,
                data: {get_param: 'value'}, 
                dataType: 'json',
                success: function (result) {
                    let bookTableRow = $('#hasilPencarian');
                    bookTableRow.empty();

                    for (let i = 0; i < result.items.length; i++) {
                    bookTableRow.append(
                            "<tr>" +
                            "<td>" + "<img + src=" + result.items[i].volumeInfo.imageLinks.thumbnail + ">" + "</td>" +
                            "<td class='sentences'>" + result.items[i].volumeInfo.title + "</td>" +
                            "<td class='sentences'>" + result.items[i].volumeInfo.authors + "</td>" +
                            "<td class='sentences'>" + result.items[i].volumeInfo.publishedDate + "</td>" +
                            "</tr>"
                        ); 
                    }
                }
            });
        })
    );

    $(document).ready(function(){
        $(".submit").click(function(){
            $(".page-3").removeClass("display");
        });
    });
</script>

        {% include 'base/copyRight.html' %}

	</body>
</html>